body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  color: hsl(0, 0%, 25%);
  background: hsl(40, 30%, 100%);
  min-height: 100vh;
  line-height: 1.5;
}

html{
  scroll-behavior: smooth;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

button,
input[type=button],
input[type=submit] {
  background-color: hsl(183, 40%, 50%);
  color: white;
  font-size: medium;
  padding: 0.5em 0.75em;
  border: 0;
  border-radius: 0.5em;
  transition: 200ms ease-in-out;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover {
  background-color: hsl(183, 40%, 40%);
  border-color: hsl(183, 40%, 40%);
  cursor: pointer;
}

button:active,
input[type=button]:active,
input[type=submit]:active {
  border-color: hsl(183, 40%, 30%);
  background-color: hsl(183, 40%, 30%);
}

blockquote {
  line-height: 2em;
  background-color: hsl(60, 5%, 95%);
  width: 100%;
  box-sizing: border-box;
  border-left: 0.25em solid hsl(183, 40%, 50%);
  border-radius: 0 0.5em 0.5em 0;
  padding: 1em;
  margin: 0;
}

code,
kbd,
var,
samp, pre {
  background-color: hsl(60, 5%, 95%);
  border-radius: 8px;
  font-family: "Fira Code", monospace;
}

pre {
  padding: 10px;
  overflow-x: auto;
  width: 100%;
}

code,
kbd,
var,
samp {
  padding: 4px 8px;
}

hr {
  background-color: hsl(183, 40%, 50%);
  height: 0.2em;
  width: 100%;
  border: 0;
  margin: 1em 0;
}

img, picture {
  max-width: 100%;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

label {
  font-weight: 600;
}

a {
  color: hsl(183, 40%, 50%);
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  color: hsl(183, 40%, 40%);
  cursor: pointer;
  text-decoration: underline hsl(183, 40%, 40%);
}

a:active {
  color: hsl(183, 40%, 30%);
  text-decoration-color: hsl(183, 40%, 30%);
}

li, ul {
  margin-left: 1.5em;
  padding: 0;
  line-height: 2em;
}

ul {
  list-style: disc;
}

li {
  list-style: inherit;
}

input[type=checkbox] {
  /*remove default checkboxes, and reset style*/
  appearance: none;
  margin: 0;
  padding: 0;
  background-color: hsl(60, 5%, 95%);
  /*style*/
  width: 1em;
  height: 1em;
  border-radius: 1em;
  border: 2px solid hsl(0, 0%, 51%);
  border-radius: 0.2em;
  display: grid;
  place-content: center;
}

input[type=checkbox]:hover {
  border: 2px solid hsl(183, 40%, 50%);
}

input[type=checkbox]::before {
  transition: 200ms transform ease-in-out;
  transform: scale(0);
  width: 0.5em;
  height: 0.5em;
  background-color: hsl(183, 40%, 50%);
  content: "";
  border-radius: 0.05em;
}

input[type=checkbox]:checked::before {
  transform: scale(1);
}

input[type=radio] {
  /*remove default radio-buttons, and reset style*/
  appearance: none;
  margin: 0;
  padding: 0;
  background-color: hsl(60, 5%, 95%);
  /*style*/
  width: 1em;
  height: 1em;
  border-radius: 1em;
  border: 2px solid hsl(0, 0%, 51%);
  /*Place fill*/
  display: grid;
  place-content: center;
}

input[type=radio]:hover {
  border: 2px solid hsl(183, 40%, 50%);
}

input[type=radio]::before {
  transition: 200ms transform ease-in-out;
  transform: scale(0);
  width: 0.5em;
  height: 0.5em;
  background-color: hsl(183, 40%, 50%);
  content: "";
  border-radius: 50%;
}

input[type=radio]:checked::before {
  transform: scale(1);
}

radio,
checkbox {
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  align-items: center;
  margin: 1em 0em;
}

td, th {
  border-bottom: 0.1em solid hsl(183, 40%, 50%);
  padding: 0.5em;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-weight: 600;
}

td {
  font-weight: lighter;
}

h6, h5, h4, h3, h2, h1 {
  font-weight: 400;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  line-height: 1.5;
  font-weight: 300;
}

textarea,
input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=tel],
input[type=url],
input[type=search] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  background-color: hsl(60, 5%, 95%);
  color: hsl(0, 0%, 25%);
  font-size: medium;
  border-radius: 0.5em;
  border: 0;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  margin: 0.5em 0;
  padding: 1em 0 1em 1em;
  resize: none;
}



/*# sourceMappingURL=chimera.css.map */
