@use "variables";

input[type="checkbox"] {
  /*remove default checkboxes, and reset style*/
  appearance: none;
  margin: 0;
  padding: 0;
  background-color: variables.$Chimera-bg-secondary;

  /*style*/
  width: 1em;
  height: 1em;
  border-radius: 1em;
  border: 2px solid variables.$Chimera-input-border;
  border-radius: 0.2em;

  display: grid;
  place-content: center;
}

input[type="checkbox"]:hover {
  border: 2px solid variables.$Chimera;
}

input[type="checkbox"]::before {
  transition: 200ms transform ease-in-out;
  transform: scale(0);
  width: 0.5em;
  height: 0.5em;
  background-color: variables.$Chimera;
  content: "";
  border-radius: 0.05em;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
