@use "variables";

pre {
  background-color: variables.$Chimera-bg-secondary;
  padding: 10px;
  border-radius: 8px;
  overflow-x: auto;
  width: 100%;
}

code,
kbd,
var,
samp {
  background-color: variables.$Chimera-bg-secondary;
  border-radius: 8px;
  padding: 4px 8px;
}

pre,
code {
  font-family: "Fira Code", monospace;
}
