@use "variables";

%tablerow {
  border-bottom: 0.1em solid variables.$Chimera;
  padding: 0.5em;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  @extend %tablerow;
  font-weight: 600;
}

td {
  @extend %tablerow;
  font-weight: lighter;
}
