h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  line-height: 1.5;
  font-weight: 300;
}
