@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$font-stack: "Inter", sans-serif;

//Color palette
$Chimera: hsl(183, 40%, 50%);
$Chimera-dark: hsl(183, 40%, 40%);
$Chimera-darker: hsl(183, 40%, 30%);
$Chimera-darkest: hsl(183, 40%, 20%);
$Chimera-input-border: hsl(0, 0%, 51%);
$Chimera-text: hsl(0, 0%, 25%);
$Chimera-bg: hsl(40, 30%, 100%);
$Chimera-bg-secondary: hsl(60, 5%, 95%);

//TODO: use sass variables
