// fonts
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif;

//Color palette
$Chimera: hsl(183, 40%, 50%);
$Chimera-dark: hsl(183, 40%, 40%);
$Chimera-darker: hsl(183, 40%, 30%);
$Chimera-input-border: hsl(0, 0%, 51%);
$Chimera-text: hsl(0, 0%, 100%);
$Chimera-text-secondary: #333333;
$Chimera-bg: hsl(0, 0%, 10%);
$Chimera-bg-secondary: hsl(0, 0%, 20%);
$Chimera-link: hsl(183, 40%, 50%);

// @use "main";

@import "elements/main";
