@use "buttons";
@use "blockquotes";
@use "formatted-text";
@use "horisontal-rule";
@use "images";
@use "labels";
@use "links";
@use "lists";
@use "checkboxes";
@use "radio-buttons";
@use "radio-checkbox-groups";
@use "tables";
@use "text";
@use "textfields";
@use "variables";

body {
  font-family: $font-stack;
  color: var($Chimera-text);
  background: var($Chimera-bg);
}
