
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*------------------------------Variables----------------------------*/
:root{
    --Chimera-primary: hsl(183, 67%, 40%);
    --Chimera-secondary: hsl(183, 54%, 56%);
    --Chimera-accent: hsl(183, 67%, 40%); /* Same as primary ATM */
    --Chimera-accent-hover: hsl(183, 67%, 35%);
    --Chimera-accent-visited: hsl(183, 67%, 25%);
    --Chimera-accent-active: hsl(183, 67%, 30%);
    --Chimera-text: hsl(0, 0%, 25%);
    --Chimera-background: hsl(0, 0%, 95%);
}

/*------------------------------General----------------------------*/
body {
    font-family: 'Inter', sans-serif;
    color: var(--Chimera-text);
}

blockquote {
    border-left: 4px solid var(--Chimera-primary);
    background-color: var(--Chimera-background);
    padding: 20px;
    line-height: 28px;
    max-width: 100%;
    margin: 0px;
    border-radius: 0px 8px 8px 0px;
}

hr {
    height: 2px;
    background-color: var(--Chimera-primary);
    width: 100%;
    border: 0;
}

/*------------------------------Buttons----------------------------*/
button {
    padding: 7px 16px;
    font-size: medium;
    border-radius: 8px;
    border: 0px;
    background-color: var(--Chimera-primary);
    color: #ffff;
}

button:hover {
    background-color: var(--Chimera-accent-hover);
    transition: 100ms;
    cursor: pointer;
}

button:active {
    background-color: var(--Chimera-accent-active);
    transition: 100ms;
}

/*------------------------------Headings----------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

/*------------------------------Paragraphs----------------------------*/

p {
    line-height: 1.5;
    font-weight: 300;
}

/*------------------------------Links----------------------------*/

a {
    color: var(--Chimera-accent);
    text-decoration: none;
    font-weight: 300;
}

a:active {
    color: var(--Chimera-accent-hover);
}

a:visited {
    color: var(--Chimera-accent-visited);
}

a:hover {
    color: var(--Chimera-accent-hover);
    cursor: pointer;
    text-decoration: underline var(--Chimera-accent-hover);
}

/*------------------------------Tables----------------------------*/

table{
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border-bottom: 1px solid var(--Chimera-secondary);
    padding: 10px;
    text-align: left;
}

th{
    font-weight: 800;
}

td{
    font-weight: lighter;
}

ul, ol {
    margin: 0 0 1.5em 1.5em;
    padding: 0;
    line-height: 2;
}

/*-----------------------------Formatted text----------------------------*/

pre{
    background-color: var(--Chimera-background);
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
    width: 100%;
}

code, kbd, var, samp{
    background-color: var(--Chimera-background);
    border-radius: 8px;
    padding: 4px 8px;
}

pre code{
    font-family: 'Fira Code', monospace;
}

/*------------------------------Forms----------------------------*/

input, textarea {
    border-radius: 8px;
    background-color: var(--Chimera-background);
    border: 0;
    padding: 12px;
    width: 100%;
    display: flex;
    margin: 5px 0px 15px 0px;
    font-size: medium;
    outline: none;
}


label {
    font-weight: 600;
}

