@use '../tokens/chimera' as *;
@use 'focus' as *;

button,
input[type="button"],
button[type="submit"],
input[type="submit"],
button[type="reset"],
input[type="reset"] {
  @extend %focus-base-component;
  background-color: $Chimera;
  color: $Chimera-text-secondary;
  font-size: medium;
  padding: 0.5em 0.75em;
  border: 0;
  border-radius: 0.5em;
  width: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
  outline: none;
}

button::after,
input[type="button"]::after,
button[type="submit"]::after,
input[type="submit"]::after,
button[type="reset"]::after,
input[type="reset"]::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: none;
}

button:focus-within::after,
input[type="button"]:focus-within::after,
button[type="submit"]:focus-within::after,
input[type="submit"]:focus-within::after,
button[type="reset"]:focus-within::after,
input[type="reset"]:focus-within::after {
  animation: ripple 1s ease-out;
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(100);
    opacity: 0;
  }
}

button:focus-within:not(:focus)::after,
input[type="button"]:focus-within:not(:focus)::after,
button[type="submit"]:focus-within:not(:focus)::after,
input[type="submit"]:focus-within:not(:focus)::after,
button[type="reset"]:focus-within:not(:focus)::after,
input[type="reset"]:focus-within:not(:focus)::after {
  opacity: 0;
  transition: none;
}

button[type="reset"],
input[type="reset"] {
  color: $Chimera;
  background-color: $Chimera-bg;
  border-color: $Chimera;
}

button:hover,
input[type="button"]:hover,
button[type="submit"]:hover,
input[type="submit"]:hover{
  background-color: $Chimera-dark;
  cursor: pointer;
}

button[type="reset"]:hover,
input[type="reset"]:hover{
  background-color: $Chimera;
  color: $Chimera-text-secondary;
  cursor: pointer;
}

button:disabled,
input[type="button"]:disabled,
button[type="submit"]:disabled,
input[type="submit"]:disabled,
button[type="reset"]:disabled,
input[type="reset"]:disabled {
  background-color: $Chimera-darker;
  border-color: $Chimera-darker;
  cursor: default;
}
