@use '../tokens/chimera' as *;

%formatted-text {
  background-color: $Chimera-bg-secondary;
  border-radius: 8px;
  font-family: monospace;
}

pre {
  @extend %formatted-text;
  padding: 10px;
  overflow-x: auto;
  width: 100%;
}

code,
kbd,
var,
samp {
  @extend %formatted-text;
  padding: 4px 8px;
  line-height: 1.5;
}

mark {
  background-color: $Chimera-fill;
  padding: 0.2em;
  color: $Chimera-text;
}

underline {
  text-decoration: underline;
}

italic {
  font-style: italic;
}

abbr {
  text-decoration: underline dotted;
  cursor: help;
}
