@use '../tokens/chimera' as *;

a {
  color: $Chimera-link;
  text-decoration: none;
}

a:hover {
  color: $Chimera-focus;
  cursor: pointer;
}

a:active {
  color: $Chimera-darker;
}

a:focus {
  color: $Chimera-focus;
}
