@import "focus";

textarea,
input {
  @extend %focus-base-component;
  font-family: $font-stack;
  color: $Chimera-text;
  background-color: $Chimera-bg;
  font-size: medium;
  border-radius: 0.5em;
  border: solid 2px $Chimera-border;
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em 0 0.5em 0.75em;
  resize: none;
}

textarea:disabled,
input:disabled{
  color: $Chimera-text-disabled;
}

textarea {
  resize: vertical;
}