// fonts
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif;

//Color palette
$Chimera: hsl(0, 0%, 10%);
$Chimera-dark: hsl(0, 0%, 20%);
$Chimera-darker: hsl(0, 0%, 30%);
$Chimera-text: hsl(0, 0%, 10%);
$Chimera-text-secondary: #ffff;
$Chimera-text-disabled: hsl(0, 0%, 50%);
$Chimera-bg: hsl(0, 0%, 100%);
$Chimera-bg-secondary: hsl(0, 0%, 95%);
$Chimera-link: hsl(263, 100%, 50%);
$Chimera-focus: hsl(263, 100%, 70%);
$Chimera-fill: hsla(0, 0%, 0%, 0.1);
$Chimera-border: hsl(0, 0%, 30%);

@import "../elements/main";
