// fonts
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif;

//Color palette
$Chimera: hsl(25, 80%, 37%); // Rusty Red
$Chimera-dark: hsl(25, 80%, 32%); // Dark Rust
$Chimera-darker: hsl(25, 80%, 27%); // Deep Rust
$Chimera-text: hsl(25, 50%, 20%); // Dark Brown (revised for better contrast)
$Chimera-text-secondary: #fff; // Dark Gray
$Chimera-text-disabled: hsl(25, 50%, 40%);
$Chimera-bg: hsl(30, 45%, 97%); // Soft Orange
$Chimera-bg-secondary: hsl(30, 45%, 90%);
$Chimera-link: hsl(25, 80%, 37%);
$Chimera-focus: hsl(202, 80%, 50%);
$Chimera-fill: hsla(25, 80%, 55%, 10%);
$Chimera-border: hsl(25, 25%, 80%);

@import "../elements/main";
