%tablerow {
  border: 0.1em solid $Chimera-border;
  padding: 0.5em;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  @extend %tablerow;
  font-weight: 600;
  background-color: $Chimera-light;
}

td {
  @extend %tablerow;
  font-weight: 200;
}
