%headings {
  font-weight: 400;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  @extend %headings;
  font-size: 3em;
}

h2 {
  @extend %headings;
  font-size: 2.5em;
}

h3 {
  @extend %headings;
  font-size: 2em;
}

h4 {
  @extend %headings;
  font-size: 1.5em;
}

h5 {
  @extend %headings;
  font-size: 1.25em;
}

h6 {
  @extend %headings;
  font-size: 1em;
}

p {
  line-height: 1.5;
  font-weight: 300;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1.1em;
  }
}
