
button {
    padding: 7px 16px;
    font-size: medium;
    border-radius: 10px;
    border: 0px;
    background-color: #2593be;
    color: rgb(255, 255, 255);
}

button:hover {
    background-color: #51a9cb;
    transition: 100ms;
    cursor: pointer;
}

button:active {
    background-color: #1e7698;
    transition: 100ms;
}
