pre{
    background-color: rgb(244, 243, 243);
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
    width: 100%;
}

code, kbd{
    background-color: rgb(244, 243, 243);
    border-radius: 8px;
    padding: 4px 8px;
}

pre code{
    font-family: 'Fira Code', monospace;
}