a {
    color: #1d7293;
    text-decoration: none;
}

a:active {
    color: #18627f;
}

a:visited {
    color: #1d5e93;
}

a:hover {
    color: #28a0d0;
    cursor: pointer;
    text-decoration: underline;
}