table{
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border-bottom: 1px solid #6ba8c0;
    padding: 10px;
    text-align: left;
}

th{
    font-weight: 800;
}

td{
    font-weight: lighter;
}
