//fonts
$font-stack: (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif) !default;

//Color palette
$Chimera: hsl(173, 100%, 25%) !default;
$Chimera-dark: hsl(173, 100%, 20%) !default;
$Chimera-darker: hsl(173, 100%, 15%) !default;
$Chimera-text: hsl(0, 0%, 25%) !default;
$Chimera-text-secondary: #ffff !default;
$Chimera-text-disabled: hsl(0, 0%, 65%) !default;
$Chimera-bg: hsl(40, 30%, 100%) !default;
$Chimera-bg-secondary: hsl(60, 5%, 95%) !default;
$Chimera-link: hsl(173, 100%, 25%) !default;
$Chimera-focus: hsl(267, 60%, 60%) !default;
$Chimera-fill: hsla(173, 100%, 33%, 10%) !default;
$Chimera-border: hsl(0, 0%, 90%) !default;
