// fonts
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif;

//Color palette
$Chimera: hsl(210, 100%, 45%); // Rusty Red
$Chimera-dark: hsl(210, 100%, 40%); // Dark Rust
$Chimera-darker: hsl(210, 100%, 35%); // Deep Rust
$Chimera-text: rgb(38, 37, 59);
$Chimera-text-secondary: #fff; // Dark Gray
$Chimera-text-disabled: hsl(243, 20%, 60%);
$Chimera-bg: hsl(0, 0%, 100%); // Soft Orange
$Chimera-bg-secondary: hsl(209, 91%, 97%);
$Chimera-link: hsl(210, 100%, 45%);
$Chimera-focus: hsl(210, 100%, 70%);
$Chimera-fill: hsla(202, 80%, 55%, 10%);
$Chimera-border: hsl(202, 25%, 80%);

@import "../elements/main";
